*
{
 padding: 0px;
 margin: 0px;
 background-image: url(gilgit.jpg);
 background-position: top;
 background-size: cover;
 font-family: sans-serif;
 font-size: larger;
 text-align: center;
 list-style: none;
}