*
{
    background-image: url(Kpk.jpg);
    background-size: cover;
    background-position: 5px top;
    text-align: center;
    font-family: sans-serif;
    font-size: large;
    list-style: none;
}